{% extends 'store/base.html' %}
{% load static %}
{% block content %}
<div class="wishlist-container">
    <h1>Your Wishlist</h1>

    {% if wishlist_items %}
    <div class="wishlist-items">
        {% for item in wishlist_items %}
        <div class="wishlist-item">
            <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
            <h3>{{ item.product.name }}</h3>
            <p>Rs {{ item.product.price }}</p>
            <div class="wishlist-actions">
                <a class="remove" href="{% url 'remove_from_wishlist' product_id=item.product.id %}">Remove</a>
                <a class="details" href="{% url 'product_detail' item.product.id %}">View Details</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>Your wishlist is empty.</p>
    {% endif %}

    <a class="shop-more" href="{% url 'shop' %}">Shop More</a>
</div>
{% endblock %}
